.card {
    width: 413px;
}


.card__image {
    height: 413px;
    width: 413px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__like-btn {
    background-image: url(../images/Like\ Icon.png);
    height: 23px;
    width: 23px;
    border: none;
    background-color: transparent;
    opacity: 40%;
    background-repeat: no-repeat;
    opacity: 0.4;
    cursor: pointer;
}

.card__like-btn:hover {
    opacity: 1;
}

.card__title {
    font-size: 20px;
    color: #212121;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 420px;
}

@media screen and (max-width: 627px) {
   .card {
    align-items: center;
    width: 288px;
    gap: 20px
   }

   .card__title {
    font-size: 16px;
    max-width: 288px;
   }
   
    .card__image {
    height: 288px;
    width: 288px;
   } 

   .card__list {
    max-width: 288px;
    max-height: 318px;
   }
}
    