.modal {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.modal_is-opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    box-sizing: border-box;
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 52px;
    position: relative;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}

.modal_is-opened .modal__container {
    transform: scale(1);
}

.modal__close-btn {
    display: flex;
    position: absolute;
    top: 27px;
    right: 75px;
    width: 40px;
    height: 40px;
    align-self: flex-end;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    border: none;
    background: transparent url("../images/close-btn-icon.svg") center no-repeat;
    background-size: contain;
    opacity: 40%;
    cursor: pointer;
}

.modal__close-btn:hover {
    opacity: 100%;
}

.modal__title {
    margin: 0 0 32px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
}

.modal__form {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    padding: 0;
}

.modal__label {
    margin: 0 0 32px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #212121B2;
}

.modal__input {
    box-sizing: border-box;
    display: block;
    margin: 8px 0 0;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.4);
    border-radius: 8px;
    border-color: #21212166;
    padding: 16px 12px;
}

.modal__input::placeholder {
    color: #2121214d;
}

.modal__submit-btn {
    max-width: 156px;
    height: 52px;
    border-radius: 8px;
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 32px;
    gap: 8px;
    opacity: 1;
    background-color: #212121;
    border: none;
    color: #fff;
    cursor: pointer;
}

.modal__submit-btn:hover {
    background-color: #000;
}

@media screen and (max-width: 480px) {
    .modal__title {
        font-size: 20px;
    }

    .modal__container {
    padding: 22px 12px 12px;
    }

    .modal__label {
        font-size: 16px;
    }

    .modal__input {
        font-size: 16px;
        width: 100%;
    }

    .modal__close-btn {
        top: 22px;
        right: 12px;
    }
    .modal__submit-btn {
        max-width: none;
    }
}