.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.profile__avatar {
    margin-right: 20px;
    border-radius: 10px;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: 0 0 12px;
}

.profile__description {
    margin: 0;
    opacity: 0.7;
}

.profile__edit-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: auto;
    padding: 0;
    color: #212121;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.profile__edit-btn:hover {
    color: rgba(33, 33, 33);
    opacity: 0.7;
}

.profile__add-btn {
    display: flex;
    margin-left: auto;
    width: 149px;
    height: 52px;
    border-radius: 8px;
    background-color: #212121;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #fcf5e5;
    align-self: flex-end;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile__add-btn:hover {
    opacity: 0.7;
}

.profile__add-btn-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 12px;
    height: 12px;
}